#jumbo1 {
	background-image: url("img/magpie-large.png");
	background-repeat: no-repeat;
}

h1 {
	margin-top: 30px;
	margin-bottom: 10px;
}

h2 {
	font-weight: bold;
}

h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}

.navbar {
	font-weight: bold;
}

#body-container {
	width: 70%;
}

ol {
	line-height: 175%;
}

ul {
	line-height: 175%;
}
